.idea
systematic-review-api/.idea
systematic-review-api/target
systematic-review-core/.idea
systematic-review-core/target
systematic-review-replication-api/.idea
systematic-review-replication-api/target